
@keyframes glitch{
    from{
        transform:rotate(0deg) translateX(10.8px) rotate(0deg) ;
    }
    to{
        transform:rotate(360deg) translateX(800px) rotate(-360deg) ;    }
}

@keyframes crazy{
    from{
        transform:rotate(360deg) translateX(100px) rotate(360deg) ;
    }
    to{
        transform:rotate(360deg) translateX(700px) rotate(-760deg) ;    }
}


body{
background-color: burlywood;
text-align: center;
}

.glitch{
    animation: glitch 0.001s linear infinite;
}

.crazy{
    animation: crazy 0.00001s linear infinite;
}



.lime{
    background-color: lime;
}


.button1{
    background-color: red;
    align-items: center;
    margin: 0% auto;  
    position:absolute;
    top: 300px;
    left: 850px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 50px;
    font-family:fantasy;
   box-shadow: 1px 10px grey;

}

.button2{
    background-color: rgb(12, 172, 235);
    left: 1875px;
    top: 1px; 
    width: 50px;
    height: 50px;
    font-size: 15px;
    
}

