
@keyframes glitch{
    from{
        transform:rotate(0deg) translateX(10.8px) rotate(0deg) ;
    }
    to{
        transform:rotate(360deg) translateX(800px) rotate(-360deg) ;    }
}

body{
background-color: burlywood;
text-align: center;
}

.glitch{
    animation: glitch 0.00002s linear infinite;
}

.button1{
    background-color: red;
    align-items: center;
    margin: 0% auto;  
    position:absolute;
    top: 300px;
    left: 850px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 50px;
    font-family:fantasy;
   box-shadow: 1px 10px grey;

}

.button2{
    background-color: rgb(12, 172, 235);
    left: 389px;
    
}

